<launch>  

	<node pkg="ORB_SLAM2_PointMap_SegNetM" name="KITTI" type="KITTI" args="Vocabulary/ORBvoc.txt $(find ORB_SLAM2_PointMap_SegNetM)/KITTI04-12.yaml $(find ORB_SLAM2_PointMap_SegNetM)/prototxts/segnet_pascal.prototxt $(find ORB_SLAM2_PointMap_SegNetM)/models/segnet_pascal.caffemodel $(find ORB_SLAM2_PointMap_SegNetM)/tools/pascal.png" output="screen" />


	<param name="folderleft" value="/10/image_2/*.*"/>
	<param name="folderright" value="/10/image_3/*.*"/>
	<param name="foldertime" value="/10/times.txt"/>
	<param name="trajectory_KITTI" value="Trajectory_KITTI.txt"/>

	<!-- Run other launch file -->
    <include file="$(find ORB_SLAM2_PointMap_SegNetM)/launch/Octomap.launch" />
	<include file="$(find ORB_SLAM2_PointMap_SegNetM)/launch/transform.launch" />
	<node pkg="rviz" name="rviz" type="rviz" /> 
	
</launch>
